<nav class="nav">
    <a routerLink="/" class="nav__logo">
        <img src="caja_registradora_gris.svg" alt="Imagen del logo" class="logo">
    </a>
    <ul class="nav__botones">
        <li class="botones__separador">
            <img class="separador__icono" src="caja_registradora_gris.svg" alt="Icono tareas">
            <a class="separador__a" routerLink="/tareas">Caja</a>
        </li>
        <li class="botones__separador">
            <img class="separador__icono" src="caja_registradora_gris.svg" alt="Icono tareas">
            <a class="separador__a" routerLink="/tareas">Productos</a>
        </li>
        <li class="botones__separador">
            <img class="separador__icono" src="caja_registradora_gris.svg" alt="Icono tareas">
            <a class="separador__a" routerLink="/tareas">Ventas</a>
        </li>
    </ul>
</nav>