:root {
    --duracion: 2s;
}

.nav {
    width: 50px;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 47, 255);
    display: grid;
    grid-template-rows: 20%;
    align-items: center;
    justify-items: center;
    position: relative;
    transition: width 2s;

    .nav__logo {
        width: 30px;
        height: 30px;
        transition: width 2s ease, height 2s;

        .logo {
            width: 100%;
        }
    }

    .nav__botones {
        width: 50px;
        align-self: start;
        display: grid;
        gap: 5px;
        transition: width 2s ease;

        .botones__separador {
            width: 50px;
            height: 40px;
            list-style: none;
            border: transparent 2px solid;
            display: grid;
            padding: 2px;
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;
            transition: width 2s ease;

            .separador__a {
                display: flex;
                align-items: center;
                width: 0;
                height: 100%;
                visibility: hidden;
                overflow: hidden;
                opacity: 0;
                transition: width .2s ease, opacity 2s, visibility 2s;
                font-size: 22pt;
                text-decoration: none;
                color: white;
                font-weight: bold;
                text-indent: 10px;
                text-wrap: nowrap;
            }

        }

        .botones__separador:hover {
            border: gray 2px dashed;
        }
    }

}

.nav:hover {
    width: 250px;
}

.nav:hover .nav__logo {
    width: 80px;
    height: 80px;
}

.nav:hover .nav__botones {
    width: 200px;
}

.nav:hover .nav__botones .botones__separador {
    width: 100%;
    grid-template-columns: 15% 1fr;
}

.nav:hover .nav__botones .botones__separador .separador__a {
    width: 100%;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 1000px) {}
@media (max-width: 700px) {}
@media (max-width: 400px) {
    .nav {
        .nav__botones {
            .botones__separador {
                .separador__a {
                    font-size: 14pt;
                }
            }
        }
    }

    .nav:hover {
        width: 200px;
    }

    .nav:hover .nav__logo {
        width: 80px;
        height: 80px;
    }

    .nav:hover .nav__botones {
        width: 160px;
    }

    .nav:hover .nav__botones .botones__separador {
        width: 100%;
        grid-template-columns: 15% 1fr;
    }

    .nav:hover .nav__botones .botones__separador .separador__a {
        display: flex;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 350px) {}