.footer {

    p {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            margin: 0 4px;
            color: blue;
        }

        a:last-child {
            display: flex !important;
            align-items: center;
            height: 100%;
        }



        a > img {
            width: 15px;
        }
    }

}